$white: #FFFFFF;
$lightgray: #D5DFE1;
$blue: #1888C8;
$navy: #22272a;
$green: #78A931;
$yellow: #FFCE28;
$red: #A9402D;

.text-white {
  color: #FFFFFF;
}
.text-lightgray {
  color: #D5DFE1;
}
.text-blue {
  color: #1888C8;
}
.text-navy {
  color: #22272a;
}
.text-green {
  color: #78A931;
}
.text-yellow {
  color: #FFCE28;
}
.text-red {
  color: #A9402D;
}
