#artist-info {
  position: absolute;
  z-index: 1;
  width: 33%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;


  .artist-avatar {
    position: relative;
    left: 0;
    right: 0;
    width: 250px;
    height: 250px;
    margin: 0 auto;

    background-position: center center;
    background-size: cover;
  }

  .node-spacer {
    width: 100%;
    height: 225px;
  }
}
