#edges {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;

  line {
    stroke: $green;
    stroke-width: 4;


    &.retracting {
      animation-name: 'retract';
      animation-direction: reverse;
    }

    &.pulling {
      animation-name: 'retract';
      animation-direction: reverse;
    }

    &.expanding {
      animation-name: 'expand';
      animation-direction: reverse;
      animation-fill-mode: forwards;
    }
  }
}

@keyframes retract {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes expand {
  from {
    stroke-dashoffset: 0;
  }
}
