#graph {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  line {
    stroke: $blue;
    stroke-width: 4;
  }

  text {
    font-size: 14px;
    font-weight: bold;
  }
}
