#graph {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  line {
    stroke: $blue;
    stroke-width: 4;
  }

  text {
    font-size: 14px;
    font-weight: bold;
  }

  .vertex {
    animation: fadeIn 1200ms forwards;

    &.past {
      cursor: pointer;
    }

    &.present {
      cursor: default;
    }

    &.future {
      cursor: pointer;
    }
  }
}

@keyframes retract {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes expand {
  from {
    stroke-dashoffset: 0;
  }
}

@keyframes fadeIn {
    from  {
      transform: scale(0.5, 0.5);
      transform-origin: 50% 50%;
      opacity: 0.01;
    }
    to {
      transform: scale(1, 1);
      transform-origin: 50% 50%;
      opacity: 1;
    }
}

@keyframes rejected {
  from  {
    transform: scale(1, 1) rotate(0deg);
    transform-origin: 50% 50%;
    opacity: 1;
  }
  to {
    transform: scale(0, 0) rotate(25deg);
    transform-origin: 50% 50%;
    opacity: 0.6;
  }
}
