#header {
  position: absolute;
  z-index: 5;
  width: 33%;
  height: 200px;
  line-height: 200px;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  font-size: 80px;
  letter-spacing: -3px;
  font-weight: bold;
  color: #FFF;
  text-shadow: 1px 2px 0px rgba(0,0,0,0.2);
  transition: 1s;

  &:after {
    position: absolute;
    content: '';
    width: 60%;
    height: 5px;
    background: $navy;
  }
}
