#loading-apology {
  position: absolute;
  z-index: 4;
  bottom: 40px;
  left: 10%;
  width: 21%;
  animation:
    fadeEffect 1500ms infinite alternate,
    showAfterDelay 6000ms 2000ms backwards
  ;

  h3 {
    font-size: 18px;
    color: $yellow;
    font-weight: bold;
  }

  h5 {
    font-size: 14px;
    color: darken($white, 25%);
    margin-top: 8px;
  }
}


@keyframes fadeEffect {
  from { opacity: 0.9; }
  to { opacity: 1; }
}

@keyframes showAfterDelay {
  from { opacity: 0; }
  to { opacity: 1; }
}
