#nodes {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  height: 100%;
  width: 133.333%;

  .nodes-flip {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
  }

  .nodes-region {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  #graveyard {
    background: #000;
  }

  #past {
    background: $orange1;

    .node { cursor: pointer; }
  }

  #present {
    background: $orange2;

    .node { cursor: default; }
  }

  #future {
    background: $orange3;

    .node { cursor: pointer; }
  }

  .node-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    .node {
      width: 10rem;
      height: 10rem;
      background: #FFF;
      border-radius: 100%;
      font-size: 14px;
      font-weight: bold;
      text-align: center;
      padding: 0 1rem;
      display: flex;
      justify-content: center;
      flex-direction: column;
      box-shadow:
        0px 2px 0px rgba(0,0,0,0.2),
        0px 0px 4px rgba(0,0,0,0.1)
      ;
      transition: 400ms;

      &:hover {
        transition: 200ms;
        transform: scale(1.1, 1.1);
      }
    }
  }
}
