#nodes {
  position: absolute;
  z-index: 2;
  top: 0;
  right: -33.33%;
  height: 100%;
  width: 166.66%;

  .nodes-flip {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
  }

  .node-group {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    transition: background 2s;

    // past
    &:nth-of-type(2) {
      .node { cursor: pointer; }
    }

    // present
    &:nth-of-type(3) {
      .node { cursor: default; }
    }

    // future
    &:nth-of-type(4) {
      .node { cursor: pointer; }
    }
  }

  .node {
    width: 10rem;
    height: 10rem;
    background: #FFF;
    border-radius: 100%;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    padding: 0 1rem;
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow:
      0px 2px 0px rgba(0,0,0,0.2),
      0px 0px 4px rgba(0,0,0,0.1)
    ;
    animation: fadeIn 500ms forwards;


    &.rejected {
      animation: rejected 700ms;
    }

  }
}

@keyframes fadeIn {
    from  {
      transform: scale(0.5, 0.5);
      opacity: 0.01;
    }
    to {
      transform: scale(1, 1);
      opacity: 1;
    }
}


@keyframes rejected {
    from  {
      transform: scale(1, 1) rotate(0);
      opacity: 1;
    }
    to {
      transform: scale(0.01, 0.01) rotate(25deg);
      opacity: 0.01;
    }
}
