#samples-wrapper {
  position: absolute;
  z-index: 2;
  width: 33%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

  #samples {
    position: relative;
    left: 0;
    right: 0;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    text-align: center;

    .button-wrapper {
      display: inline-block;
      position: relative;
      margin: 0 5px;
      opacity: 0;
    }
  }

  #track-name {
    padding: 2rem 1rem;

    h6 {
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
      color: $yellow;
    }

    h4 {
      position: relative;
      margin: 8px 0;
      font-size: 20px;
      color: $lightgray;

      &:after {
        content: '';
        position: absolute;
        width: 30%;
        height: 1px;
        bottom: -14px;
        left: 0;
        right: 0;
        margin: auto;
        opacity: 0.3;
        background: $yellow;
        animation: widen 1600ms both 300ms;
      }
    }
  }
}

.track-name-enter {
  opacity: 0.01;
}

.track-name-enter.track-name-enter-active {
  opacity: 1;
  transition: 500ms ease-in;
}

.track-name-leave {
  opacity: 1;
}

.track-name-leave.track-name-leave-active {
  opacity: 0;
  transition: 500ms linear;
}


@keyframes widen {
  from { transform: scaleX(0.01); }
  to   { transform: scaleX(1); }
}

@keyframes button-exit {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(150px);
    opacity: 0;
  }
}

@keyframes button-enter {
    from  {
      transform: scale(0.5, 0.5);
      transform-origin: 50% 50%;
      opacity: 0.01;
    }
    to {
      transform: scale(1, 1);
      transform-origin: 50% 50%;
      opacity: 1;
    }
}
