#search {
  position: absolute;
  z-index: 1;
  width: 33%;
  min-width: 440px;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 0 40px;
  color: $lightgray;
  background: $navy;

  header {
    position: relative;
    width: 100%;
    height: 200px;
    line-height: 200px;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    font-size: 80px;
    letter-spacing: -3px;
    font-weight: bold;
    color: #FFF;
    text-shadow: 1px 2px 0px rgba(0,0,0,0.2);
    transition: 1s;
}

  h1 {
    font-size: 32px;
  }

  h3 {
    margin: 35px 0;
    font-size: 24px;
  }

  #search-box {
    position: relative;
    width: 80%;
    margin-left: 10%;

    input {
      width: 100%;
      background: transparent;
      border: none;
      outline: none;
      padding: 8px;
      font-size: 24px;
      color: $white;
      border-bottom: 3px solid $blue;
      transition: 500ms;

      &:hover {
        background: darken($navy, 2%);
        transition: 250ms;
      }
    }

    .suggestions {
      .suggestion {
        padding: 12px;
        background: darken($navy, 2%);
        border-bottom: 1px solid darken($navy, 4%);
        cursor: pointer;

        &:last-child {
          border-bottom: 0;
        }

        &:hover, &.highlighted {
          background: darken($blue, 20%);
        }

        &.confirmed {
          background: darken($green, 10%);
        }
      }
    }
  }
}

.search-animation-enter {
  opacity: 0.01;
}

.search-animation-enter.search-animation-enter-active {
  opacity: 1;
  transition: 500ms ease-in;
}

.search-animation-leave {
  opacity: 1;
  -webkit-filter: blur(0px);
}

.search-animation-leave.search-animation-leave-active {
  opacity: 0.01;
  -webkit-filter: blur(50px);
  transition: 2500ms linear;
}
